<MainGridLayout title="友链">
  <!-- 卡片容器 -->
  <div class="card-base p-6 md:p-8">
    <!-- 标题栏 -->
    <div class="flex items-center gap-2 mb-6">
      <div class="h-8 w-8 rounded-lg bg-[var(--primary)] flex items-center justify-center text-white dark:text-black/70">
        <Icon name="material-symbols:diversity-3" class="text-[1.5rem]">
      </div>
      <h1 class="text-2xl font-bold text-black dark:text-white">友链</h1>
    </div>

    <!-- 友链申请说明 -->
    <p class="text-sm text-black/60 dark:text-white/60 mb-4">
      如果您也想加入友链名单，<a target="_blank" href="https://github.com/afoim/fuwari/tree/main/src/data/friends" class="transition link text-[var(--primary)] font-medium underline">请点击这里提交</a>
    </p>

    <!-- 友链卡片网格 -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {friends.map((friend) => (
        <a href={friend.url} target="_blank" class="friend-card">
          <div class="flex items-center gap-2">
            <!-- 友链头像 -->
            <div class="relative w-5 h-5 rounded overflow-hidden" style={`--theme-hue: ${siteConfig.themeColor.hue}`}>
              <img src={friend.avatar} loading="lazy" class="w-full h-full object-cover transition-opacity duration-500" alt={`${friend.name}的头像`} />
            </div>
            <!-- 友链名称 -->
            <div class="font-bold text-black dark:text-white">{friend.name}</div>
          </div>
          <!-- 友链描述 -->
          <div class="text-sm text-black/50 dark:text-white/50">{friend.description}</div>
        </a>
      ))}
    </div>
  </div>
</MainGridLayout>